## .env
.env

## nodejs
node/**/node_modules/
# node/**/package-lock.json
node/**/.serverless */

## python
**/.venv/** */
.idea
secret.json
**/.venv
**/__pycache__/
**/secret.json
**/model.safetensors
**/llama.cpp
**/gguf
**/stf.json
**/finetuned-*
.webui_secret_key

## mongodb
mongodb/backup


##docker
docker/mysql/mysql*
docker/mongodb/mongo*
docker/**/*.json

##react
**/node_modules/

# **/*.json